In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('C://Users//ALWAYSRAMESH//Downloads//Advertising.csv')

In [5]:
df

     Unnamed: 0     TV  Radio  Newspaper  Sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
data=df.drop('Unnamed: 0',axis=1)

In [7]:
x=data.drop('TV',axis=1)
y= data['TV']

In [8]:
x

     Radio  Newspaper  Sales
0     37.8       69.2   22.1
1     39.3       45.1   10.4
2     45.9       69.3    9.3
3     41.3       58.5   18.5
4     10.8       58.4   12.9
..     ...        ...    ...
195    3.7       13.8    7.6
196    4.9        8.1    9.7
197    9.3        6.4   12.8
198   42.0       66.2   25.5
199    8.6        8.7   13.4

[200 rows x 3 columns]

In [11]:
y

0      37.8
1      39.3
2      45.9
3      41.3
4      10.8
       ...
195     3.7
196     4.9
197     9.3
198    42.0
199     8.6
Name: Radio, Length: 200, dtype: float64

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 10)

In [11]:
# MAE= |Y1-Y2^|+|Y2-Y2^|+.......|YN-YN^|
#MSE= |Y1-Y1|^2+|Y2-Y2^|^2+....|Yn-Yn^|^2
#RMSE= under root MSE
#R2-Squre = 1-(SSR/SSM)  
#ADJACENT R2-SCQURE = 1-  (1-R2)(N-1)/(N-1-K).   N=NO. OF ROW. K= NO.OF INDEPENCENT COLUMN